@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap');

body{
    margin: 0px;
    font-size: 2rem;
    padding: 0px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: regular;
    background-color: black;
}

.textmittelweiss{
    padding-top: 200px;
    padding-left: 12vw;
    position: relative;
    color: white;
    font-size: 4rem;
}

.typ4 {
    padding-top: 15vw;
    padding-left: 11vw;
    position: relative;
}
  
.hallu {
    
    mix-blend-mode: difference;
    position: absolute;
    font-size: 22vw;
    line-height: 70%;
    font-weight: 600;
}

.orange{
    color: #ff5c00;

    animation-name: up;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.gruen{
    color: #00ff00;

    animation-name: static;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}

.blau{
    color: #0000ff;

    animation-name: down;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

  


@keyframes up {
    0%{
        transform: translateY(0vw) translateX(0vw);
        filter: blur(0px);
    }
    100%{
        transform: translateY(-0.5vw) translateX(-0.5vw);
        filter: blur(2px);

    }
}

@keyframes down {
    0%{
        transform: translateY(0vw) translateX(0vw);
        filter: blur(0px);
    }
    100%{

        transform: translateY(0.5vw) translateX(0.5vw);
        filter: blur(2px);

    }
}

@keyframes static {
    0%{
        
        filter: blur(0px);
    }
    100%{

        
        filter: blur(2px);

    }
}