@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap');

body{
    margin: 0px;
    font-size: 2rem;
    padding: 0px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: regular;
    background-color: black;
}


.typ1{
    height: 100vh;
    width: 100vw;
    background-color: #FFA3FF;
    padding: 0vw;
    z-index: 1;
    position: relative;
    overflow: hidden;

    

}

/* .pushing {
    font-size: 2vw;
    display: inline-block;
    text-align: center;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    transform-origin: top left;
    transform: rotate(90deg) translate(120vh, -25vw);
    position: sticky;
} */


.pushing {
    font-size: 2vw;
    display: inline-block;
    text-align: center;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    transform-origin: top left;
    transform: rotate(90deg) translate(120vh, -25vw);
    
    
    animation-name: pushingdown;
    animation-duration: 6s;
    animation-iteration-count: 1;
    animation-direction: normal;

} 

@keyframes pushingdown {
    0%{
        transform: rotate(90deg) translate(0vh, -25vw);
    }
    100%{
        transform: rotate(90deg) translate(120vh, -25vw);
    }
}


.gross{
    color: black;
    letter-spacing: 0px;
    font-size: 55vw;
    text-align: center;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    overflow: hidden;
    bottom: -15vw;

}

.typ3{
    height: 100vh;
    width: 100vw;
}

.textmittelweiss{
    padding-left: 12vw;
    padding-top: 25vh;
    position: relative;
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 600;
}

.typ4 {
    padding-top: 15vw;
    padding-left: 11vw;
    position: relative;

}
  
.hallu {
    
    mix-blend-mode: difference;
    position: absolute;
    font-size: 22vw;
    line-height: 70%;
    font-weight: 600;

    transition: all 1.5s;

    /*filter: blur(2px);*/

}

.orange{
    color: #ff5c00;
}

.gruen{
    color: #00ff00;
}

.blau{
    color: #0000ff;
}

  
.typ4:hover .orange {
    transform: translateY(-0.5vw) translateX(-0.5vw);
    filter: blur(2px);
}
  
.typ4:hover .gruen {
    transform: translateY(0vw) translateX(0vw);
    filter: blur(2px);
}
  
.typ4:hover .blau {
    transform: translateY(0.5vw) translateX(0.5vw);
    filter: blur(2px);
}



.typ5{
    position: relative; 
    margin-inline: 10vw; 
    margin-top: 50vh;
    margin-bottom: 40vh;
}


/* .typ5 > div {  
    left: 0;
    right: 0; 
    margin-left: 10vw; 
    margin-right: 10vw; 
    width: auto;
    position: absolute; 

} */

.cigarette-container{
    overflow: hidden;
    position: relative;
}

.typ5:hover .cigarette-container{
    animation-name: cigarettewidth;
    animation-duration: 6s;
    animation-iteration-count: 1;
    animation-direction: normal;

}

.cigarette, .forgot{
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    font-size: 3.5vw;
    white-space: nowrap;
    padding:0.5vw; 
    padding-left: 15vw;
    display: block;
    mix-blend-mode: none;
    padding-top: 1.5vw;

}

.cigarette{
    color: rgb(255, 255, 255);
    background-color: #000000;
    border: 1px solid #ffffff;
    width: 100%;
}


.forgot{
    position: absolute;
    color: #FFA3FF;
}

.fire{
    position:absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 3vw;
    background-color: #FFA3FF;
}

.filter{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 14vw;
    background-color: #ffffff;
}

.box1{
    display: block;
    height: 2.5rem;
    background-color: #ffffff;
}

@keyframes cigarettewidth{
    0% {
        width:100%;
    }
    100% {
        width: 0px;
    }
}


.strophebox{
    height: 60vh;
    width: 100vw;
}

.strophe{
    padding-left: 5vw;
    padding-top: 2vh;
    position: relative;
    color: white;
    font-size: 3.5vw;
    text-transform: uppercase;
    font-weight: 600;

    transition: all 2.5s;
}

.eins{
    /* transform: translateX(-40vw); */
    filter: blur(20px);
    color: #ffffff;

}

.strophe:hover .eins {
    /* transform: translateX(0vw); */
    filter: blur(0px);
    color: #ffffff;
}

.zwei{
    /* transform: translateX(-40vw); */
    filter: blur(20px);
    color: #000000;

}

.strophe:hover .zwei {
    /* transform: translateX(0vw); */
    filter: blur(0px);
    transition-delay: 2s;
    color: #ffffff
}

.drei{
    /* transform: translateX(-40vw); */
    filter: blur(20px);
    color: #000000;
    font-size: 22vw;
    text-transform: none;

}

.strophe:hover .drei {
    /* transform: translateX(0vw); */
    filter: blur(0px);
    transition-delay: 4s;
    color: #ffffff
}

.vier{
    /* transform: translateX(-40vw); */
    filter: blur(20px);
    color: #000000;

}

.strophe:hover .vier {
    /* transform: translateX(0vw); */
    filter: blur(0px);
    transition-delay: 6s;
    color: #ffffff
}

.fuenf{
    /* transform: translateX(-40vw); */
    filter: blur(20px);
    color: #000000;
    padding-top: 8vh;

}

.strophe:hover .fuenf {
    /* transform: translateX(0vw); */
    filter: blur(0px);
    transition-delay: 9s;
    color: #ffffff
}

.sechs{
    /* transform: translateX(-40vw); */
    filter: blur(20px);
    color: #000000;

}

.strophe:hover .sechs {
    /* transform: translateX(0vw); */
    filter: blur(0px);
    transition-delay: 11s;
    color: #ffffff
}





.kreis{
    position: relative; 
    
}

.kreis > div {
    margin-left: 25vw; 
    position: absolute; 
    border-radius: 50%;
    mix-blend-mode: difference;
    height: 50vw;
    width: 50vw;
    overflow: hidden;

    transition: all 5s;
}

.kreisorange {
    background-color: #ff5c00;
    left: 0px;
    top: 0;
    filter: blur(0px);
    height: 50vw;
    width: 50vw;
    margin-left: 25vw; 
}

.kreis:hover .kreisorange {
    left: 0px;
    top: 0;
    filter: blur(20px);
    height: 150vw;
    width: 150vw;
    margin-left: -25vw; 
    margin-top: -25vw; 

}

.kreisgruen {
    background-color: #00ff00;
    left: 0vw;
    top: 0vw;
    filter: blur(0px);
    height: 50vw;
    width: 50vw;
    margin-left: 25vw; 
}

.kreis:hover .kreisgruen {
    left: -5vw;
    top: 5vw;
    filter: blur(20px);
    height: 150vw;
    width: 150vw;
    margin-left: -25vw; 
    margin-top: -25vw; 

}

.kreisblau {
    background-color: #0000ff;
    left: 0vw;
    top: 0vw;
    filter: blur(0px);
    height: 50vw;
    width: 50vw;
    margin-left: 25vw; 
}

.kreis:hover .kreisblau {
    left: 5vw;
    top: 5vw;
    filter: blur(20px);
    height: 150vw;
    width: 150vw;
    margin-left: -25vw; 
    margin-top: -25vw; 

}





.drunken {
    display: inline-block;
    padding-left: 12vw;
    padding-top: 24vw;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 3rem;

    filter: blur(2px);
}

.seattle {
    color: #000000;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 3rem;

    filter: blur(0px);
}

.typ7{
    background-color: #FFA3FF;
    margin: 0px;
    height: 53rem;
}

.xans{
    padding-left: 12vw;
    padding-top: 8rem;
    color: rgb(0, 0, 0);
    font-size: 10rem;
    text-transform: uppercase;
    filter: blur(0px);
    line-height: 96%;
}

.xanax1{
    background-color: white; 
    height: 6rem;
    width: 26rem;
    border-radius: 20px;
    transform: rotate(24deg) translate(120px, -200px);
}

.xanax2{
    background-color: white; 
    height: 6rem;
    width: 26rem;
    border-radius: 20px;
    transform: rotate(-36deg) translate(1000px, -300px);
    
}

.typ8{
background-color: #FFA3FF;
height: 700px;

}

.remember {
    position: sticky;
    display: inline-block;
    padding-left: 155px;
    padding-top: 200px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 3rem;

    filter: blur(0px);
}

.your {
    display: inline-block;
    padding-top: 200px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 3rem;

    filter: blur(0px);
}

.or{

    display: block;
    text-align: left;
    padding-left: 640px;
    padding-top: 10px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 3rem;

    filter: blur(0px);

}

.blur{
    width: 100vw;
    height: 50px;
    background-image: linear-gradient(#FFA3FF, #ffa3ffbd,#ffa3ff70, #ffa3ff00);
}



.artist{
    display: inline-block;
    padding-left: 12vw;
    padding-top: 50vh;
    position: relative;
    color: white;
    font-size: 1rem;

}

.credits{
    padding-left: 12vw;
    padding-top: 10px;
    position: relative;
    color: white;
    font-size: 1rem;
}